In [2]:
%load_ext sql

In [3]:
%%sql
sqlite:///CourseDataWarehouse1.db

'Connected: @CourseDataWarehouse1.db'

In [4]:
%%sql
SELECT COUNT(*)
FROM courses;

 * sqlite:///CourseDataWarehouse1.db
Done.

[(15955,)]

In [5]:
%%sql
SELECT DISTINCT COUNT(*)
FROM courses;

 * sqlite:///CourseDataWarehouse1.db
Done.

[(15955,)]

In [6]:
%%sql
SELECT *
FROM courses C
    JOIN coursecatalog CC ON C.catalog_id = CC.catalog_id
LIMIT 4;

 * sqlite:///CourseDataWarehouse1.db
Done.

[('Fall2014', 70384, 'AC 0011', 'C01', 3.0, 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0800am-0915am 09/02-12/08 DSB 105']", 'Michael P.  Coyne', 0, 31, -31, 'AC', 'Accounting', 'AC 0011', 'Introduction to Financial Accounting', '3 Credits', '', '', '', '', 'This course introduces students to financial accounting. Students learn to read and comprehend published financial statements and are introduced to t ... (34 characters truncated) ... pics include financial statement analysis; accrual accounting; revenue and expense recognition; and accounting for assets, liabilities, and equities.', '2017-2018'),
 ('Fall2014', 70384, 'AC 0011', 'C01', 3.0, 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0800am-0915am 09/02-12/08 DSB 105']", 'Michael P.  Coyne', 0, 31, -31, 'AC', 'Accounting', 'AC 0011', 'Introduction to Financial Accounting', '3 Credits', '', '', '', '', 'This course introduces students to financial accounting. Students learn to read and comprehend published financial statements and are introduced to t ... (34 characters truncated) ... pics include financial statement analysis; accrual accounting; revenue and expense recognition; and accounting for assets, liabilities, and equities.', '2018-2019'),
 ('Fall2014', 70385, 'AC 0011', 'C02', 3.0, 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0930am-1045am 09/02-12/08 DSB 105']", 'Michael P.  Coyne', 0, 31, -31, 'AC', 'Accounting', 'AC 0011', 'Introduction to Financial Accounting', '3 Credits', '', '', '', '', 'This course introduces students to financial accounting. Students learn to read and comprehend published financial statements and are introduced to t ... (34 characters truncated) ... pics include financial statement analysis; accrual accounting; revenue and expense recognition; and accounting for assets, liabilities, and equities.', '2017-2018'),
 ('Fall2014', 70385, 'AC 0011', 'C02', 3.0, 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0930am-1045am 09/02-12/08 DSB 105']", 'Michael P.  Coyne', 0, 31, -31, 'AC', 'Accounting', 'AC 0011', 'Introduction to Financial Accounting', '3 Credits', '', '', '', '', 'This course introduces students to financial accounting. Students learn to read and comprehend published financial statements and are introduced to t ... (34 characters truncated) ... pics include financial statement analysis; accrual accounting; revenue and expense recognition; and accounting for assets, liabilities, and equities.', '2018-2019')]

In [7]:
%%sql
SELECT title, course_title
FROM courses C
    JOIN coursecatalog CC ON C.catalog_id = CC.catalog_id
LIMIT 35;

 * sqlite:///CourseDataWarehouse1.db
Done.

[('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Financial Accounting', 'Introduction to Financial Accounting'),
 ('Introduction to Management Accounting', 'Introduction to Management Accounting'),
 ('Introduction to Management Accounting', 'Introduction to Management Accounting'),
 ('Intermediate Accounting I', 'Intermediate Accounting I'),
 ('Intermediate Accounting I', 'Intermediate Accounting I'),
 ('Intermediate Accounting I', 'Intermediate Accounting I')]